*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


a{
    color: #334949;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo img{
    height: 180px;
    object-fit: contain;
}

.logo img:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e7e8ef;
    height: 8vh;
    margin-bottom: 20px;
}

main {
    background-color: #333;
    background-size: cover;
    height: 92vh;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 15px;
    margin-left: 15px;
}

.seguindo {
    border-style: none;
    background: #8a8a8a; 
    border-color: #D9D9D9;
    border-radius: 50px;
    padding: 8px; 
    cursor: pointer;
    font-size: 16px;
    margin: -33px;
}

.perfil img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.perfil img:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}

main .banner {
    position: relative;
    width: 100%;
    height: 15%;
    overflow: hidden;
}

main .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}


.tag{
    background: none;
    border-style:solid;
    border-color: #D9D9D9;
    border-radius: 7px;
    padding: 5px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tag:hover{
    background-color: #D9D9D9;
}

.tag.ativo{
    background: #afa085;
    border-style: none;
    border-color: #afa085;
}

section{
    display: flex;
    justify-content: center;
}

.left {
    display: flex; 
    align-items: center; 
    justify-content: normal; 
    width: 100%; 
    padding: 10px; 
}